.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.logo-container{
    padding: 20px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}

.restaurant-card{
    width: 229px;
    height: 400px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.restaurant-card:hover{
   cursor: pointer;
   border: 1px solid black;
}

.search-bar{
    margin: 20px;
    padding: 10px;
    width: 300px;
    font-size: 18px;
}

.restaurant-card-image{
    width: 100%;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}